<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    VueJS
  </title>
  <link rel="stylesheet" href="./content/css/style.css" />
  <script src="./content/js/vue.js"></script>
</head>

<body>
  <div id="vue-app">
    <h1>Keyboard Events</h1>
    <p>
      <label for="name">Name:</label>
      <input type="text" v-model="name" />
      <label for="age">Age:</label>
      <input type="text" v-model="age" />
    </p>
    <p>
      <span>{{name}}</span>
      <span>{{age}}</span>
    </p>

  </div>

    <script src="./content/js/system/app.js"></script>
</body>

</html>
